<!-- Header -->
  <header id="header">
    <h1>RedRoster - About</h1>
    <p><a href="/">Home</a></p>
  </header>

<!-- Main -->
  <div id="main">

    <!-- Content -->
      <section id="content" class="main">
        <h2>Who are we?</h2>
        <p>We're two students from Cornell who wanted to define the standard for a mobile scheduling app for Cornell, while adding modern-day social media features as a means of connecting Cornell students.</p>
      </section>

  </div>
