<!-- Header -->
	<header id="header">
		<h1>RedRoster - Acknowledgements</h1>
		<p><a href="/">Home</a>&emsp;&emsp;<a href="/about">About</a></p>
	</header>

<!-- Main -->
	<div id="main">

		<!-- Content -->
			<section id="content" class="main">

				<h2>iOS Icons</h2>
				<p>
				Schedule Icon - Vectors Market (<a href="https://www.flaticon.com">Flaticon</a>)</br>
				Graduation Icon - Freepik (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				People Icon - Google (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Person Icon - Google (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Loading Icon - Minh Hoang (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Text Document - Freepik (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Speech Bubble - Minh Hoang )<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				World Icon - Freepik (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Leaf Icon - Freepik (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Flower Icon - Vectors Market (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Sun Icon - Amit Jakhu (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Snowflake Icon - Icon Works (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				</p>

				<h2>iOS Libraries</h2>
				<p>
				<a href="">Google Sign-In SDK for iOS</a></br>
				<a href="">Alamofire</a></br>
				<a href="">SwiftyJSON</a></br>
				<a href="">Realm</a></br> 
				<a href="">DGActivityIndicatorView</a></br>
				<a href="">UICountingLabel</a></br> 
				<a href="">PagesMenu</a></br> 
				<a href="">PickerView</a></br> 
				<a href="">KMPlaceholderTextView</a></br>
				<a href="">HanekeSwift</a></br>
				</p>

				<h2>Ruby on Rails Libraries</h2>
				<p>
				<a href="">Annotate</a></br> 
				<a href="">Uglifier</a></br> 
				<a href="">Coffee-Rails</a></br> 
				<a href="">JQuery-Rails</a></br>
				<a href="">Turbolinks</a></br> 
				<a href="">Jbuilder</a></br> 
				<a href="">SDoc</a></br>
				<a href="">OAuth2</a></br>
				<a href="">Figaro</a></br>
				<a href="">Bcrypt-Ruby</a></br>
				<a href="">Unicorn</a></br>
				<a href="">JSON</a></br>
				<a href="">Puma</a></br>
				<a href="">ActiveModelSerializers</a></br>
				<a href="">Font-Awesome-Rails</a></br>
				<a href="">Byebug</a></br>
				<a href="">RSpec-Rails</a></br>
				<a href="">Spring</a></br>
				<a href="">FactoryGirl-Rails</a></br>
				<a href="">Capybara</a></br>
				<a href="">Database Cleaner</a></br>
				<a href="">Web Console</a></br>
				<a href="">Rails 12factor</a></br>
				<a href="https://nginx.org/en/">NGINX</a></br> 
				<a href="https://bitbucket.org/mailchimp/mailchimp-api-ruby">Mailchimp-API-Ruby</a>
				</p>
			</section>

	</div>



