<!-- Header -->
	<header id="header">
		<h1>RedRoster - Acknowledgements</h1>
		<p><a href="/">Home</a>&emsp;&emsp;<a href="/about">About</a></p>
	</header>

<!-- Main -->
	<div id="main">

		<!-- Content -->
			<section id="content" class="main">

				<h2>iOS Icons</h2>
				<p>
				Schedule Icon - Vectors Market (<a href="https://www.flaticon.com">Flaticon</a>)</br>
				Graduation Icon - Freepik (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				People Icon - Google (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Person Icon - Google (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Loading Icon - Minh Hoang (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Text Document - Freepik (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Speech Bubble - Minh Hoang )<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				World Icon - Freepik (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Leaf Icon - Freepik (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Flower Icon - Vectors Market (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Sun Icon - Amit Jakhu (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				Snowflake Icon - Icon Works (<a href="https://www.flaticon.com">Flaticon</a>)</br> 
				</p>

				<h2>iOS Libraries</h2>
				<p>
				<a href="https://developers.google.com/identity/sign-in/ios/">Google Sign-In SDK for iOS</a></br>
				<a href="https://github.com/Alamofire/Alamofire">Alamofire</a></br>
				<a href="https://github.com/SwiftyJSON/SwiftyJSON">SwiftyJSON</a></br>
				<a href="https://realm.io/">Realm</a></br> 
				<a href="https://github.com/gontovnik/DGActivityIndicatorView">DGActivityIndicatorView</a></br>
				<a href="https://github.com/dataxpress/UICountingLabel">UICountingLabel</a></br> 
				<a href="https://github.com/HighBay/PageMenu">PagesMenu</a></br> 
				<a href="https://github.com/filipealva/PickerView">PickerView</a></br> 
				<a href="https://github.com/MoZhouqi/KMPlaceholderTextView">KMPlaceholderTextView</a></br>
				<a href="https://github.com/Haneke/HanekeSwift">HanekeSwift</a></br>
				</p>

				<h2>Ruby on Rails Libraries</h2>
				<p>
				<a href="https://github.com/ctran/annotate_models">Annotate</a></br> 
				<a href="https://github.com/rails/sass-rails">Uglifier</a></br> 
				<a href="https://github.com/rails/coffee-rails">Coffee-Rails</a></br> 
				<a href="https://github.com/rails/jquery-rails">JQuery-Rails</a></br>
				<a href="https://github.com/turbolinks/turbolinks">Turbolinks</a></br> 
				<a href="https://github.com/rails/jbuilder">Jbuilder</a></br> 
				<a href="https://github.com/zzak/sdoc">SDoc</a></br>
				<a href="https://github.com/intridea/oauth2">OAuth2</a></br>
				<a href="https://github.com/laserlemon/figaro">Figaro</a></br>
				<a href="https://github.com/codahale/bcrypt-ruby">Bcrypt-Ruby</a></br>
				<a href="https://unicorn.bogomips.org/">Unicorn</a></br>
				<a href="https://github.com/flori/json">JSON</a></br>
				<a href="https://github.com/puma/puma">Puma</a></br>
				<a href="https://github.com/rails-api/active_model_serializers">ActiveModelSerializers</a></br>
				<a href="https://github.com/bokmann/font-awesome-rails">Font-Awesome-Rails</a></br>
				<a href="https://github.com/deivid-rodriguez/byebug">Byebug</a></br>
				<a href="https://github.com/rspec/rspec-rails">RSpec-Rails</a></br>
				<a href="https://github.com/rails/spring">Spring</a></br>
				<a href="https://github.com/thoughtbot/factory_girl_rails">FactoryGirl-Rails</a></br>
				<a href="https://github.com/jnicklas/capybara">Capybara</a></br>
				<a href="https://github.com/DatabaseCleaner/database_cleaner">Database Cleaner</a></br>
				<a href="https://github.com/rails/web-console">Web Console</a></br>
				<a href="https://github.com/heroku/rails_12factor">Rails 12factor</a></br>
				<a href="https://nginx.org/en/">NGINX</a></br> 
				<a href="https://github.com/RealFaviconGenerator/rails_real_favicon">Rails Real Favicon</a></br> 
				</p>
			</section>

	</div>



