<!-- Header -->
  <header id="header">
    <h1>RedRoster - Privacy Policy</h1>
    <p><a href="/">Home</a>&emsp;&emsp;<a href="/about">About</a></p>
  </header>

<!-- Main -->
  <div id="main">

    <!-- Content -->
      <section id="content" class="main">
        <p>Last updated: July 29th, 2016 </p>

        <p>
        We care about your privacy and guard it as if it were our own. This page delimits our usage of your data and how it is sent. If the way we use your data changes in the future, we will update this page accordingly.
        </p>

        <h2>Personal Information Acquisition</h2>

        <p>RedRoster collects names, email addresses, profile image URLs only as authorized explicitly by you through your Google account. We store this data on our servers as permitted by Google and is viewable by other RedRoster users.</p>

        <p>We obtain any information about your schedule solely through your explicit entering of your schedule information.</p>

        <p>While a your public schedules are visible to anyone in RedRoster, your private schedules are kept on our servers and is unavailable to any other user. No data we collect from you is shared to any third party vendors outside of RedRoster.</p>


        <h2>Advertising</h2>

        <p>We do not advertise to you nor do we let other third party vendors advertise to you.</p>

        <h2>Data</h2>

        <p>We use hosting services to store our databases so that you can access your RedRoster data from any device. We safeguard your data in those databases and treat it as our own.</p>

        <h2>Analytics</h2>

        <p>We may collect and send user actions performed in the app to our server in order to improve our user experience. This information is not sold or sent to any other party.</p>

        <h2>Security</h2>

        <p>RedRoster uses secure SSL along with a generated key hash to maintain secure connections over the internet.</p>
      </section>

  </div>
