<!-- Footer -->
	<footer id="footer">
		<section>
			<h2>We're Open Source!</h2> 
			<p>Wanna see how we did it?  Check out or <a>iOS</a> and <a>backend</a> repositories on Github!
		</section>
		<section>
			<h2>Contact Info</h2>
			<p>Questions?  Comments?  Feature requests?  We'd love to hear them!</p> 
			<dl class="alt">
				<dt>Email</dt>
				<dd><a href="#">redroster@gmail.com</a></dd>
			</dl>
		</section>
	</footer>

<!-- Footer  Links --> 
	<div class="footer-links">
		<p class="footer-link"><a href="/privacy">Privacy Policy</a> | <a href="/acknowledgements">Acknowledgements</a> | <a href="/about">About</a></p> 
		<p class="footer-link">&copy; Red Roster. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
	<div>